*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #ffff;
}

.about img {
    height: auto;
    width: auto;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
} 

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.logo{
    background: linear-gradient(to left,rgb(230, 0, 151),rgb(134, 0, 179),rgb(0, 0, 255),rgb(100, 192, 111),rgb(255, 255, 51),rgb(255, 140, 26),rgb(255, 0, 0));
    -webkit-background-clip: text;
    background-clip: none;
    color: transparent;
    font-size: 32px;
    font-family: zapfino;
    padding-top: 0px;
    font-weight: bolder;
    opacity: 1;
    margin-top: 10px;   
    margin-right: 50px;
    width: 195px;
    float: right;
    height: 70px;
} 

span {
    color: #ff0000;
}

.about-text p {
    color: #080204;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #ff0000;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #ff0000;
    cursor: pointer;
}